<h3>{{ period.date }}</h2>
<p><ul>
    {% for mapper_details in period.stats %}
    <li><a href="{{ request.build_absolute_uri }}{% url 'mapper_details' mapper_details.osm_user %}">{{ mapper_details.osm_user }}</a> added 
        {% if mapper_details.townlands %}
            {{ mapper_details.townlands|length }} townlands: {% for t in mapper_details.townlands %}{{ t.short_desc }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endif %}
        {% if mapper_details.eds %}
            {{ mapper_details.eds|length }} EDs: {% for t in mapper_details.eds %}{{ t.short_desc }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endif %}
        {% if mapper_details.cps %}
            {{ mapper_details.cps|length }} civil parishes: {% for t in mapper_details.cps %}{{ t.short_desc }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endif %}
        {% if mapper_details.baronies %}
            {{ mapper_details.baronies|length }} baronies: {% for t in mapper_details.baronies %}{{ t.short_desc }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endif %}
        {% if mapper_details.counties %}
            {{ mapper_details.counties|length }} counties: {% for t in mapper_details.counties %}{{ t.short_desc }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% endif %}
    {% empty %}
        <li><i>(No mapping activity)</i></li>
    {% endfor %}
</ul></p>
