{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block title %}{{ barony.name }}{% endblock %}
{% block header %}<h1>Barony of {{ barony.name }}{% if barony.county %}, Co. {{ barony.county.name }}{% endif %}</h1>{% endblock %}

{% block body %}

    <p>{% blocktrans with name=barony.name %}Based on data in <a href="https://www.openstreetmap.org">OpenStreetMap</a>, here is a list of townlands in the barony of {{ name }}.{% endblocktrans %}</p>

    {% if barony.county %}
        <p>{{ barony.name }} is in <a href="{% url 'view_area' barony.county.url_path %}">Co. {{ barony.county.name }}</a></p>
    {% else %}
            <p>{% blocktrans with name=barony_name %}We don't know what county {{ name }} is in.{% endblocktrans %}</p>
    {% endif %}

    {% if barony.logainm_refs|length == 0 %}
        <p>{% blocktrans with name=barony.name %}{{ name }} is not matched up to Logainm.ie yet.{% endblocktrans %}</p>
    {% elif barony.logainm_refs|length == 1 %}
        <p>{% blocktrans with name=barony.name logainm_ref=barony.logainm_refs.0 %}{{ name }} is on Logainm.ie: <a href="http://www.logainm.ie/en/{{ logainm_ref }}">{{ name }}</a>.{% endblocktrans %}</p>
    {% elif barony.logainm_refs|length > 1 %}
        <p>{% blocktrans with name=barony.name %}{{ name }} is on Logainm.ie many times:{% endblocktrans %}{% for lid in barony.logainm_refs %}<a href="http://www.logainm.ie/en/{{ lid }}">{{ barony.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}


    <ul>
        <li><a href="#map">Map ↓</a></li>
        <li><a href="#area">Area ↓</a></li>
        <li><a href="#townlands">Townlands ↓</a></li>
        <li><a href="#osm">OpenStreetMap↓</a></li>
    </ul>

    <a name="map"></a>
    <h2>Map</h2>
    <p>
        It is located at {{ barony.centre_pretty }}.
    </p>
    <div id="map" style="height: 500px; width: 600px;"></div>
    <script>
        var map = new L.Map('map');
        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

        map.setView(new L.LatLng( {{ barony.centre_y|unlocalize }}, {{ barony.centre_x|unlocalize }}), 11 );
        map.addLayer(osm);
        var popup = new L.Popup();

        L.geoJson({
            'type':'Feature',
            'properties': { 'name': "{{ barony.name }}" },
            'geometry': {{ barony.polygon_geojson|safe }}
            }).addTo(map);
    </script>



    <a name="area"></a>
    <h2>{% trans "Area" %}</h2>
    <p>{{ barony.name }} has an area of {{ barony.area_km2|floatformat|intcomma }} km² / {{ barony.area_acres|floatformat|intcomma }} acres / {{ barony.area_mile2|floatformat|intcomma }} square miles</p>

    {% with civil_parishes=barony.civil_parishes.all %}
    {% if civil_parishes %}
        <h2>{% trans "Civil Parishes" %}</h2>
        <p>There {{ civil_parishes|pluralize:"is,are" }} {{ civil_parishes|length }} civil parish{{ civil_parishes|pluralize:"es" }} in {{ barony.name }}.</p>

        <ul>
            {% for civil_parish in civil_parishes %}
                <li>{{ civil_parish.short_desc }} ({{ civil_parish.townlands.count }} townlands)</li>
            {% endfor %}
        </ul>

    {% endif %}
    {% endwith %}

    <a name="townlands"></a>
    <h2>{% trans "Townlands" %}</h2>
    <p>
        There are {% with nt=barony.townlands.all|length %}{{ nt }} townland{{ nt|pluralize }}{% endwith %} that we know about in {{ barony.name }}. This represents {{ barony.townland_cover|floatformat:-1 }}% of all the area in {{ barony.name }}.
    </p>
    <ul>
    {% for townland in barony.townlands_for_list_display %}
        <li> {{ townland }} </li>
    {% endfor %}
    </ul>

    <a name="osm"></a>
    <h2>OpenStreetMap</h2>
    {% if barony.osm_timestamp %}
        <p>{% blocktrans with osm_timestamp=barony.osm_timestamp|date:"j M Y" osm_user=barony.osm_user name=barony_name %}{{ name }} was added to OpenStreetMap on {{ osm_timestamp }} by {{ osm_user }}.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans with name=barony_name %}We don't know when {{ name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if barony.osm_id %}
        <p>
            <a href="{{ barony.osm_browse_url }}">Show on OpenStreetMap.org</a>
            <a class="btn btn-primary" target="_blank" href="{{ barony.edit_in_josm_url }}" target="_blank">Edit in JOSM</a>
            <a class="btn btn-primary" target="_blank" href="{{ barony.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ barony.edit_in_potlatch_url }}">Edit in Potlatch</a>
            <a class="btn btn-primary" target="_blank" href="{{ barony.edit_in_level0_url }}">{% trans "Edit in Level0" %}</a>
        </p>
    {% endif %}


{% endblock body %}
