{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize cache %}

{% block title %}{% blocktrans %}Townlands in {{ civil_parish_name }}{% endblocktrans %}{% endblock %}
{% block header %}<h1>
    {% if civil_parish.county_name %}
        {% blocktrans with county=civil_parish.county_name %}Civil Parish of {{ civil_parish_name }}, Co. {{ county }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}Civil Parish of {{ civil_parish_name }}{% endblocktrans %}
    {% endif %}
</h1>{% endblock %}

{% block body %}

    <p>{% blocktrans %}Based on data in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, here is a list of townlands in {{ civil_parish_name }}.{% endblocktrans %}</p>

    <ul>
        <li><a href="#map">{% trans "Map" %} ↓</a></li>
        <li><a href="#area">{% trans "Area" %} ↓</a></li>
        <li><a href="#townlands">{% trans "Townlands" %} ↓</a></li>
        <li><a href="#osm">{% trans "OpenStreetMap" %}↓</a></li>
    </ul>

    {% with baronies=civil_parish.baronies %}
        {% if baronies %}
        <p>{% blocktrans with baronylist=civil_parish.barony_list_textual|safe count baronies=baronies.length %}{{ civil_parish_name }} is in the barony of {{ baronylist }}.{% plural %}{{ civil_parish_name }} is in the baronies of {{ baronylist }}.{% endblocktrans %}</p>
        {% endif %}
    {% endwith %}
    <p>{% blocktrans with countieslist=civil_parish.counties_list_textual|safe count baronies=baronies.length %}{{ civil_parish_name }} is in the county of {{ countieslist }}.{% plural %}{{ civil_parish_name }} is in the counties of {{ countieslist }}.{% endblocktrans %}</p>

    {% if civil_parish.logainm_ref %}
        <p>{% blocktrans with name=civil_parish.name logainm_ref=civil_parish.logainm_ref %}{{ name }} is on Logainm.ie: <a href="http://www.logainm.ie/en/{{ logainm_ref }}">{{ name }}</a>.{% endblocktrans %}</p>
    {% endif %}

    <a name="map"></a>
    <h2>{% trans "Map" %}</h2>
    <p>
        {% blocktrans with centre=civil_parish.centre_pretty %}It is located at {{ centre }}.{% endblocktrans %}
    </p>
    <div id="map" style="height: 500px; width: 600px;"></div>
    <script>
        var map = new L.Map('map');
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

        map.setView(new L.LatLng( {{ civil_parish.centre_y }}, {{ civil_parish.centre_x }}), 11 );
        map.addLayer(osm);
        var popup = new L.Popup();

        L.geoJson({
            'type':'Feature',
            'properties': { 'name': "{{ civil_parish_name }}" },
            'geometry': {{ civil_parish.polygon_geojson|safe }}
            }).addTo(map);
    </script>

    <a name="area"></a>
    <h2>{% blocktrans %}Area{% endblocktrans %}</h2>
    <p>{% blocktrans with area_km2=civil_parish.area_km2|floatformat|intcomma area_acres=civil_parish.area_acres|floatformat|intcomma area_mile2=civil_parish.area_mile2|floatformat|intcomma name=civil_parish_name %}{{ name }} has an area of {{ area_km2 }} km² / {{ area_acres }} acres / {{ area_mile2 }} square miles.{% endblocktrans %}</p>

    <a name="townlands"></a>
    <h2>{% trans "Townlands" %}</h2>
    <p>
        There are {% with nt=civil_parish.townlands.all|length %}{{ nt }} townland{{ nt|pluralize }}{% endwith %} that we know about in {{ civil_parish_name }}. This represents {{ civil_parish.townland_cover|floatformat:-1 }}% of all the area in {{ civil_parish_name }}.
    </p>
    <ul>
        {% with townland_list=civil_parish.townlands_for_list_display %}
            {% if townland_list|length == 1 %}
                {# Only in one county #}
                {% for townland in townland_list.0.1 %}
                    <li> {{ townland }} </li>
                {% endfor %}
            {% else %}
                {% for county_name, townlands in townland_list %}
                    <h3>{{ county_name }}</h3>
                    {% for townland in townlands %}
                        <li> {{ townland }} </li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </ul>

    <a name="osm"></a>
    <h2>{% trans "OpenStreetMap" %}</h2>
    {% if civil_parish.osm_timestamp %}
        <p>{% blocktrans with osm_timestamp=civil_parish.osm_timestamp|date:"j M Y" osm_user=civil_parish.osm_user name=civil_parish_name %}{{ name }} was added to OpenStreetMap on {{ osm_timestamp }} by {{ osm_user }}.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans with name=civil_parish_name %}We don't know when {{ name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if civil_parish.osm_id %}
        <p>
            <a href="{{ civil_parish.osm_browse_url }}">{% trans "Show on OpenStreetMap.org" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ civil_parish.edit_in_josm_url }}" target="_blank">{% trans "Edit in JOSM" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ civil_parish.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ civil_parish.edit_in_potlatch_url }}">{% trans "Edit in Potlatch" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ civil_parish.edit_in_level0_url }}">{% trans "Edit in Level0" %}</a>
        </p>
    {% endif %}

{% endblock body %}
