{% extends 'irish_townlands/townland_base.html' %}
{% load l10n humanize cache %}

{% block title %}Data Completeness in Co. {{ county.name }}{% endblock %}
{% block header %}<h1>Co. {{ county.name }}</h1>{% endblock %}

{% block extra_headers_2 %}
    <script>
data = {
    'td-gap': {{ county.polygon_townland_gaps|default:"null"|safe }},
    'td-overlap': {{ county.polygon_townland_overlaps|default:"null"|safe }},
    'bar-gap': {{ county.polygon_barony_gaps|default:"null"|safe }},
    'bar-overlap': {{ county.polygon_barony_overlaps|default:"null"|safe }},
    'cp-gap': {{ county.polygon_civil_parish_gaps|default:"null"|safe }},
    'cp-overlap': {{ county.polygon_civil_parish_overlaps|default:"null"|safe }},
    'ed-gap': {{ county.polygon_ed_gaps|default:"null"|safe }},
    'ed-overlap': {{ county.polygon_ed_overlaps|default:"null"|safe }},
}

$(document).ready(function() {
    $(".map").each(function() {
        // create the map
        var dataset = $(this).data("dataset");
        var map = new L.Map($(this).attr('id'));
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});

        map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
        map.addLayer(osm);
        L.geoJson({
                'type':'Feature',
                'properties': {}
                'geometry': data[dataset]
        }).addTo(map);
    });
});
    </script>
{% endblock %}


{% block body %}

{% cache 3600 county county.url_path %}

    <h2>Data Completeness</h2>
    <table id=coverage class="table">
        <thead>
            <td>County</td>
            <td colspan=2>Townlands (excl water)</td>
            <td colspan=2>Townlands (incl water)</td>
            <td colspan=2>Baronies</td>
            <td colspan=2>Civil Parishes</td>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'view_area' county.url_path %}">{{ county.name }}</a></td>
                <td>{{ county.townland_cover_excl_water|floatformat:-2 }}%</td><td><progress min=0 max=100 value={{ county.townland_cover_excl_water }}></progress></td>
                <td>{{ county.townland_cover_incl_water|floatformat:-2 }}%</td><td><progress min=0 max=100 value={{ county.townland_cover_incl_water }}></progress></td>
                <td>{{ county.barony_cover|floatformat:-2 }}%</td><td><progress min=0 max=100 value={{ county.barony_cover }}></progress></td>
                <td>{{ county.civil_parish_cover|floatformat:-2 }}%</td><td><progress min=0 max=100 value={{ county.civil_parish_cover }}></progress></td>
            </tr>
        </tbody>
    </table>


    <h2>Area Coverage</h2>
    <a name="unmapped_townlands"></a><h3>Land & Water not covered by Townlands</h3>
    
    {% if county.polygon_townland_gaps %}
        <div class="map" id="map-td-gap" data-dataset="td-gap" style="height: 600px; width: 800px;"></div>
        <p><a href="{% url 'rate' %}#{{ county.name }}">How long will {{ county.name }} take to be mapped?</a></p>
    {% else %}
        <p>All of {{ county.name }} is covered by townlands in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Townlands</h3>

    {% if county.polygon_barony_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        
        <div class="map" id="map-td-overlap" data-dataset="td-overlap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>None of the townlands in {{ county.name }} the OpenStreetMap database overlap.</p>
    {% endif %}

    <a name="unmapped_eds"></a><h3>Land & Water not covered by Electoral Divisions</h3>
    
    {% if county.polygon_ed_gaps %}
        <div class="map" id="map-ed-gap" data-dataset="ed-gap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>All of {{ county.name }} is covered by EDs in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Electoral Divisions</h3>

    {% if county.polygon_ed_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        
        <div class="map" id="map-ed-overlap" data-dataset="ed-overlap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>None of the EDs in {{ county.name }} the OpenStreetMap database overlap.</p>
    {% endif %}

    <h3>Land not covered by Civil Parishes</h3>
    
    {% if county.polygon_civil_parish_gaps %}
        <div class="map" id="map-cp-gap" data-dataset="cp-gap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>All of {{ county.name }} is covered by civil parishes in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Civil Parishes</h3>
    
    {% if county.polygon_civil_parish_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        <div class="map" id="map-cp-overlap" data-dataset="cp-overlap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>No civil parishes overlap in {{ county.name }} in the OpenStreetMap database.</p>
    {% endif %}


    <h3>Land not covered by Baronies</h3>
    
    {% if county.polygon_barony_gaps %}
        <div class="map" id="map-bar-gap" data-dataset="bar-gap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>All of {{ county.name }} is covered by baronies in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Baronies</h3>
    
    {% if county.polygon_barony_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        <div class="map" id="map-bar-overlap" data-dataset="bar-overlap" style="height: 600px; width: 800px;"></div>
    {% else %}
        <p>None of the baronies in {{ county.name }} in the OpenStreetMap database overlap.</p>
    {% endif %}


{% endcache %}
{% endblock body %}
