{% extends 'irish_townlands/townland_base.html' %}
{% load l10n humanize cache %}

{% block title %}Townlands in Co. {{ county.name }}{% endblock %}
{% block header %}<h1>Co. {{ county.name }}</h1>{% endblock %}

{% block body %}

{% cache 3600 county_detail county.url_path %}

    <p>Based on data in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, here is a list of townlands in Co. {{ county.name }}. <i>(<a href="{% url county_debug county.url_path %}"a>Debug</a> overlaps and coverage)</i></p>

    <h2>Area</h2>
    <p>{{ county.name }} has an area of {{ county.area_km2|floatformat|intcomma }} km² / {{ county.area_acres|floatformat|intcomma }} acres / {{ county.area_mile2|floatformat|intcomma }} square miles</p>

    {% with baronies=county.baronies_sorted %}
        {% if baronies %}
        <h2>Baronies</h2>
        <p>There {{ baronies|pluralize:"is,are" }} {{ baronies|length }} baron{{ baronies|pluralize:"y,ies" }} in Co {{ county.name }} that we know about.</p>
        {% endif %}

        <ul>
        {% for barony in baronies %}
            <li><a href="{% url view_area barony.url_path %}">{{ barony.name }}</a> ({{ barony.townlands.count }} townlands)</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% with civil_parishes=county.civil_parishes_sorted %}
    {% if civil_parishes %}
        <h2>Civil Parishes</h2>
        <p>There {{ civil_parishes|pluralize:"is,are" }} {{ civil_parishes|length }} civil parish{{ civil_parishes|pluralize:"ies" }} in Co {{ county.name }} that we know about.</p>

        <ul>
        {% for civil_parish in civil_parishes %}
            <li><a href="{% url view_area civil_parish.url_path %}">{{ civil_parish.name }}</a> ({{ civil_parish.townlands.count }} townlands)</li>
        {% endfor %}
        </ul>

    {% endif %}
    {% endwith %}

    <h2>Townlands</h2>
    <p>
        There are {% with nt=county.townlands.all|length %}{{ nt }} townland{{ nt|pluralize }}{% endwith %} that we know about in Co. {{ county.name }}. This represents {{ county.townland_cover|floatformat:-1 }}% of all the area in Co. {{ county.name }}.
    </p>
    <ul>
    {% for townland in county.townlands_sorted %}
        <li>
            <a href="{% url view_area townland.url_path %}">{{ townland.name }}</a>, 
                {% if townland.civil_parish %}{{ townland.civil_parish.name }} Civil Parish, {% endif %}
                {% if townland.barony %}Barony of {{ townland.barony.name }}, {% endif %}
                <abbr title="Area in Acres, Rods and Perches">{% with arp=townland.area_acres_roods_perches %}
                    {{ arp.0 }} A, {{ arp.1 }} R, {{ arp.2 }} P
                    {% endwith %}
                </abbr>
        </li>
    {% endfor %}
    </ul>

    <a name="osm"></a>
    <h2>OpenStreetMap</h2>
    {% if county.osm_id %}
        <p>
            <a href="{{ county.osm_browse_url }}">Show on OpenStreetMap.org</a>
            <a href="{{ county.edit_in_josm_url }}" target="_blank">Edit in JOSM</a>
            <a href="{{ county.edit_in_potlatch_url }}">Edit in Potlatch</a>
        </p>
    {% endif %}
    <p> <a href="{% url county_debug county.url_path %}"a> Debug</a> overlaps and coverage</p>

{% endcache %}
{% endblock body %}
