{% extends 'irish_townlands/townland_base.html' %}
{% load l10n humanize cache %}

{% block title %}Data Completeness in Co. {{ county.name }}{% endblock %}
{% block header %}<h1>Co. {{ county.name }}</h1>{% endblock %}

{% block body %}

{% cache 3600 county county.url_path %}

    <h2>Data Completeness</h2>
    <table id=coverage>
        <thead>
            <td>County</td>
            <td colspan=2>Townlands</td>
            <td colspan=2>Baronies</td>
            <td colspan=2>Civil Parishes</td>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url view_area county.url_path %}">{{ county.name }}</a></td>
                <td>{{ county.townland_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county.townland_cover }}></progress></td>
                <td>{{ county.barony_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county.barony_cover }}></progress></td>
                <td>{{ county.civil_parish_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county.civil_parish_cover }}></progress></td>
            </tr>
        </tbody>
    </table>


    <h2>Area Coverage</h2>
    <h3>Land not covered by Townlands</h3>
    
    {% if county.polygon_townland_gaps %}
        <div class="map" id="map-td-gap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-td-gap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'properties': { 'name': "Land not covered by townlands" },
                'geometry': {{ county.polygon_townland_gaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>All of {{ county.name }} is covered by townlands in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Townlands</h3>

    {% if county.polygon_barony_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        
        <div class="map" id="map-td-overlap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-cp-overlap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'geometry': {{ county.polygon_townland_overlaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>None of the townlands in {{ county.name }} the OpenStreetMap database overlap.</p>
    {% endif %}


    <h3>Land not covered by Civil Parishes</h3>
    
    {% if county.polygon_civil_parish_gaps %}
        <div class="map" id="map-cp-gap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-cp-gap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'properties': { 'name': "Land not covered by Civil Parishes" },
                'geometry': {{ county.polygon_civil_parish_gaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>All of {{ county.name }} is covered by civil parishes in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Civil Parishes</h3>
    
    {% if county.polygon_civil_parish_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        <div class="map" id="map-cp-overlap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-cp-overlap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'geometry': {{ county.polygon_civil_parish_overlaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>No civil parishes overlap in {{ county.name }} in the OpenStreetMap database.</p>
    {% endif %}


    <h3>Land not covered by Baronies</h3>
    
    {% if county.polygon_barony_gaps %}
        <div class="map" id="map-b-gap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-b-gap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'properties': { 'name': "Land not covered by townlands" },
                'geometry': {{ county.polygon_barony_gaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>All of {{ county.name }} is covered by baronies in the OpenStreetMap database.</p>
    {% endif %}

    <h3>Land covered by 2 (or more) Baronies</h3>
    
    {% if county.polygon_barony_overlaps %}
        <i>Due to a bug in the software, there will sometimes be lines following the borders that appear as "overlap". Ignore them</i>
        <div class="map" id="map-b-overlap" style="height: 600px; width: 800px;"></div>
        <script>
            var map = new L.Map('map-b-overlap');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

            map.setView(new L.LatLng( {{ county.centre_y }}, {{ county.centre_x }}), 9 );
            map.addLayer(osm);
            var boundary = new L.GeoJSON()
            boundary.addGeoJSON({
                'type':'Feature',
                'geometry': {{ county.polygon_barony_overlaps|safe }}
                } );
            map.addLayer(boundary);
        </script>
    {% else %}
        <p>None of the baronies in {{ county.name }} in the OpenStreetMap database overlap.</p>
    {% endif %}


{% endcache %}
{% endblock body %}
