{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize cache %}

{% block title %}{% blocktrans with county_name=county.name %}Townlands in Co. {{ county_name }}{% endblocktrans %}{% endblock %}
{% block header %}<h1>{% blocktrans with county_name=county.name %}Co. {{ county_name }}{% endblocktrans %}</h1>{% endblock %}

{% block body %}

    <p>{% blocktrans with county_name=county.name %}Based on data in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, here is a list of townlands in Co. {{ county_name }}.{% endblocktrans %} <i>(<a href="{% url 'county_debug' county.url_path %}">{% trans "Debug</a> overlaps and coverage" %})</i></p>

    <h2>{% trans "Area" %}</h2>
    <p>{{ county.name }} has an area of {{ county.area_km2|floatformat|intcomma }} km² / {{ county.area_acres|floatformat|intcomma }} acres / {{ county.area_mile2|floatformat|intcomma }} square miles</p>
    <p>{{ county.name }} has a total water area of {{ county.water_area_m2|floatformat|intcomma }} m², which is {{ county.water_percent|floatformat }}% of the total area</p>

    {% with baronies=county.baronies_sorted %}
        <h2>Baronies</h2>
        <p>There {{ baronies|pluralize:"is,are" }} {{ baronies|length }} baron{{ baronies|pluralize:"y,ies" }} in Co. {{ county.name }} that we know about.</p>
        <p>
            <a href="//en.wikipedia.org/wiki/Category:Baronies_of_County_{{ county.name }}">{% blocktrans with county_name=county.name %}Wikipedia's list of baronies in {{ county_name }}.{% endblocktrans %}</a>
        </p>

        {% if baronies %}
            <ul>
            {% for barony in baronies %}
                <li><a href="{% url 'view_area' barony.url_path %}">{{ barony.name }}</a> ({{ barony.townlands.count }} townlands)</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% with civil_parishes=county.civil_parishes_sorted %}
        <h2>Civil Parishes</h2>
        <p>There {{ civil_parishes|pluralize:"is,are" }} {{ civil_parishes|length }} civil parish{{ civil_parishes|pluralize:"es" }} in Co. {{ county.name }} that we know about.</p>
        <p>
            <a href="//en.wikipedia.org/wiki/List_of_civil_parishes_of_Ireland#{{ county.name }}">{% blocktrans with county_name=county.name %}Wikipedia's list of civil parishes in {{ county_name }}.{% endblocktrans %}</a>
        </p>

        {% if civil_parishes %}
            <ul>
            {% for civil_parish in civil_parishes %}
                <li>{{ civil_parish.short_desc }} ({{ civil_parish.townlands.count }} townlands)</li>
            {% endfor %}
            </ul>
        {% endif %}

    {% endwith %}

    {% with eds=county.eds_sorted %}
        <h2>Electoral Divisions</h2>
        <p>There {{ eds|pluralize:"is,are" }} {{ eds|length }} electoral division{{ eds|pluralize:"es" }} in Co. {{ county.name }} that we know about.</p>

        {% if eds %}
            <ul>
            {% for ed in eds %}
                <li>{{ ed.short_desc }} ({{ ed.townlands.count }} townlands)</li>
            {% endfor %}
            </ul>
        {% endif %}

    {% endwith %}

    <h2>{% trans "Townlands" %}</h2>
    <p>
        There are {% with nt=county.townlands_sorted|length %}{{ nt }} townland{{ nt|pluralize }}{% endwith %} that we know about in Co. {{ county.name }}. This represents {{ county.townland_cover|floatformat:-2 }}% of all the area in Co. {{ county.name }}.
    </p>
    <p>
        <a href="//en.wikipedia.org/wiki/List_of_townlands_of_County_{{ county.name }}">{% blocktrans with county_name=county.name %}Wikipedia's list of townlands in {{ county_name }}.{% endblocktrans %}</a>
    </p>
    <ul>
    {% for townland in county.townlands_for_list_display %}
        <li>
            {{ townland }}
        </li>
    {% endfor %}
    </ul>

    <h2>{% trans "Subtownlands" %}</h2>
    <p>
        There are {% with nt=county.subtownlands|length %}{{ nt }} subtownland{{ nt|pluralize }}{% endwith %} that we know about in Co. {{ county.name }}.
    </p>
    <ul>
    {% for subtownland in county.subtownlands_sorted %}
        <li>
            {{ subtownland.long_desc }}
        </li>
    {% endfor %}
    </ul>

    <a name="osm"></a>
    <h2>{% trans "OpenStreetMap" %}</h2>
    {% if county.osm_timestamp %}
        <p>{% blocktrans with osm_timestamp=county.osm_timestamp|date:"j M Y" osm_user=county.osm_user %}{{ county_name }} was added to OpenStreetMap on {{ osm_timestamp }} by {{ osm_user }}.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}We don't know when {{ county_name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if county.osm_id %}
        <p>
            <a href="{{ county.osm_browse_url }}">{% trans "Show on OpenStreetMap.org" %}</a>
            <a href="{{ county.edit_in_josm_url }}" target="_blank">{% trans "Edit in JOSM" %}</a>
            <a href="{{ county.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a href="{{ county.edit_in_potlatch_url }}">{% trans "Edit in Potlatch" %}</a>
        </p>
    {% endif %}
    <p> <a href="{% url 'county_debug' county.url_path %}"a> {% trans "Debug</a> overlaps and coverage" %}</p>
    <p> <a href="{% url 'rate' %}#{{ county.name }}">{% blocktrans with county_name=county.name %}How long will it take OSM to finish {{ county_name }}?{% endblocktrans %}</a></p>

{% endblock body %}
