{% extends 'irish_townlands/townland_base.html' %}
{% load  i18n l10n humanize %}

{% block title %}{% trans "Duplicate townland names" %} | {% trans "Irish Traditional Boundaries Progress Report" %}{% endblock %}
{% block header %}<h1>{% trans "Duplicate names" %}</h1>{% endblock %}

{% block body %}

<ul>
    {% for group in duplicate_townland_names %}
    <li>{{ group.name }}: {{ group.count }}
        <ul>
            {% for townland in group.townlands %}
            <li><a href="{% url 'view_area' townland.url_path %}">{{ group.name }}</a> {% trans "in" %} {% if townland.civil_parish__name %}{% blocktrans with civilparishname=townland.civil_parish__name %}{{ civilparishname }} Civil Parish{% endblocktrans %},{% endif %} {% if townland.barony__name %}{% blocktrans with baronyname=townland.barony__name %}{{ baronyname }} Barony{% endblocktrans %},{% endif %} {% blocktrans with countyname=townland.county__name %}Co. {{ countyname }}{% endblocktrans %}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
