{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block title %}{{ ed.name }}{% endblock %}
{% block header %}<h1>{% blocktrans with name=ed.name %}{{ name }} Electoral Division{% endblocktrans %}{% if ed.county %}, {% blocktrans with name=ed.county.name  %}Co. {{ name }}{% endblocktrans %}{% endif %}</h1>{% endblock %}

{% block body %}

    <p>{% blocktrans with name=ed.name %}Based on data in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, here is a list of townlands in the Electoral Division / ED / District Electoral Division of {{ name }}.{% endblocktrans %}</p>

    {% if ed.county %}
        {% url 'view_area' ed.county.url_path as countyurl %}
        <p>{% blocktrans with name=ed.name %}{{ name }} is in <a href="{{ countyurl }}">Co. {{ ed.county.name }}{% endblocktrans %}</a></p>
    {% else %}
        <p>{% blocktrans with name=ed_name %}We don't know what county {{ name }} is in.{% endblocktrans %}</p>
    {% endif %}

    {% if ed.logainm_ref %}
        <p>{% blocktrans with name=ed.name logainm_ref=ed.logainm_ref %}{{ name }} is on Logainm.ie: <a href="http://www.logainm.ie/en/{{ logainm_ref }}">{{ name }}</a>.{% endblocktrans %}</p>
    {% endif %}

    <ul>
        <li><a href="#map">{% trans "Map" %} ↓</a></li>
        <li><a href="#area">{% trans "Area" %} ↓</a></li>
        <li><a href="#townlands">{% trans "Townlands" %} ↓</a></li>
        <li><a href="#osm">{% trans "OpenStreetMap" %} ↓</a></li>
    </ul>

    <a name="map"></a>
    <h2>{% trans "Map" %}</h2>
    <p>
        {% blocktrans with centre=ed.centre_pretty %}It is located at {{ centre }}.{% endblocktrans %}
    </p>
    <div id="map" style="height: 500px; width: 600px;"></div>
    <script>
        var map = new L.Map('map');
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

        map.setView(new L.LatLng( {{ ed.centre_y }}, {{ ed.centre_x }}), 11 );
        map.addLayer(osm);
        var popup = new L.Popup();

        L.geoJson({
            'type':'Feature',
            'properties': { 'name': "{{ ed.name }}" },
            'geometry': {{ ed.polygon_geojson|safe }}
            }).addTo(map);
    </script>



    <a name="area"></a>
    <h2>{% trans "Area" %}</h2>
    <p>{% blocktrans with area_km2=ed.area_km2|floatformat|intcomma area_acres=ed.area_acres|floatformat|intcomma area_mile2=ed.area_mile2|floatformat|intcomma name=ed.name %}{{ name }} has an area of {{ area_km2 }} km² / {{ area_acres }} acres / {{ area_mile2 }} square miles.{% endblocktrans %}</p>

    {% with civil_parishes=county.civil_parishes.all %}
    {% if civil_parishes %}
        <h2>{% trans "Civil Parishes" %}</h2>
        <p>
            {% blocktrans with name=county.name count num=civil_parishes|length %}There is {{ num }} civil parish in Co. {{ name }}.{% plural %}There are {{ num }} civil parishes in Co. {{ name }}.{% endblocktrans %}</p>

        <ul>
        {% for civil_parish in civil_parishes %}
            <li>{% blocktrans with name=civil_parish_name num=civil_parish.townlands.count %}{{ name }} ({{ num }} townlands){% endblocktrans %}</li>
        {% endfor %}
        </ul>

    {% endif %}
    {% endwith %}

    <a name="townlands"></a>
    <h2>{% trans "Townlands" %}</h2>
    <p>
        {% with num=ed.townlands.all|length td_cover=ed.townland_cover|floatformat:-1 %}
        {% blocktrans count num %}
            There is {{ num }} townland that we know about in {{ name }}. This represents {{ td_cover }}% of all the area in {{ name }}.
        {% plural %}
            There are {{ num }} townlands that we know about in {{ name }}. This represents {{ td_cover }}% of all the area in {{ name }}.
        {% endblocktrans %}
    </p>
    <ul>
    {% for townland in ed.townlands_sorted %}
        <li>
            <a href="{% url 'view_area' townland.url_path %}">{{ townland.name }}</a>
                <abbr title="{% trans "Area in Acres, Rods and Perches" %}">{% with arp=townland.area_acres_roods_perches %}
                    {{ arp.0 }} A, {{ arp.1 }} R, {{ arp.2 }} P
                    {% endwith %}
                </abbr>
        </li>
    {% endfor %}
    </ul>

    <a name="osm"></a>
    <h2>{% trans "OpenStreetMap" %}</h2>
    {% if ed.osm_timestamp %}
        <p>{% blocktrans with osm_timestamp=ed.osm_timestamp|date:"j M Y" osm_user=ed.osm_user name=ed_name %}{{ name }} was added to OpenStreetMap on {{ osm_timestamp }} by {{ osm_user }}.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans with name=ed_name %}We don't know when {{ name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if ed.osm_id %}
        <p>
            <a href="{{ ed.osm_browse_url }}">{% trans "Show on OpenStreetMap.org" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ ed.edit_in_josm_url }}" target="_blank">{% trans "Edit in JOSM" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ ed.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ ed.edit_in_potlatch_url }}">{% trans "Edit in Potlatch" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ e.edit_in_level0_url }}">{% trans "Edit in Level0" %}</a>
        </p>
    {% endif %}


{% endblock body %}
