{% extends 'irish_townlands/townland_base.html' %}
{% load l10n cache %}

{% block title %}Townlands in Ireland{% endblock %}
{% block header %}<h1>Irish Townlands</h1>{% endblock %}

{% block body %}

{% cache 3600 index %}

    <p>Based on data in <a href="http://www.openstreetmap.org">OpenStreetMap</a>, here is a list of counties in Ireland.</p>
    <p>Click on each county to see baronies, civil parishes and townlands in the respective county.</p>
    <p>This page should be updated (roughly) daily. The OpenStreetMap community is adding more data regularly. <a href="/townland/progress/">See how much we have done and how much we have left to do</a>.</p>

    <h2>Counties</h2>
    <ul>
    {% for county in counties %}
        <li>
            <a href="{% url view_area county.url_path %}">{{ county.name }}</a>.
                {% with nb=county.baronies.count %} {{ nb }} baron{{ nb|pluralize:"y,ies" }}, {% endwith %}
                {% with ncp=county.civil_parishes.count %} {{ ncp }} civil parish{{ ncp|pluralize:"es" }}, {% endwith %}
                {% with nt=county.townlands.count %}{{ nt }} townland{{ nt|pluralize }}.{% endwith %}
        </li>
    {% endfor %}
    </ul>

{% endcache %}
{% endblock body %}
