{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block title %}{% trans "People mapping townlands" %}{% endblock %}
{% block header %}{% trans "People mapping townlands" %}{% endblock %}

{% block body %}
<p>
<table class="table table-striped table-hover">
        <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Townlands" %}</th>
            <th>{% trans "Electoral Divisions" %}</th>
            <th>{% trans "Baronies" %}</th>
            <th>{% trans "Civil Parishes" %}</th>
            <th>{% trans "Counties" %}</th></tr>
    {% for osm_user, stats in all_mappers %}
        <tr>
            <td><a href="{% url 'mapper_details' osm_user %}">{{ osm_user }}</a></td>
            <td>{% blocktrans count num=stats.townland townlands=stats.townland|intcomma %}{{ townland }} townland{% plural %}{{ townland }} townlands{% endblocktrans %}</td>
            <td>{% blocktrans count num=stats.ed %}{{ num }} ED{% plural %}{{ num }} EDs{% endblocktrans %}</td>
            <td>{% blocktrans count num=stats.civil_parish %}{{ num }} Civil Parish{% plural %}{{ num }} Civil Parishes{% endblocktrans %}</td>
            <td>{% blocktrans count num=stats.barony %}{{ num }} Barony{% plural %}{{ num }} Baronies{% endblocktrans %}</td>
            <td>{% blocktrans count num=stats.county %}{{ num }} County{% plural %}{{ num }} Counties{% endblocktrans %}</td>
        </tr>
    {% endfor %}
</table>
</p>

{% endblock %}
