{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize cache %}

{% block title %}{% blocktrans %}{{ osm_user }}'s mapping contributions{% endblocktrans %}{% endblock %}
{% block header %}<h1>{% blocktrans %}{{ osm_user }}'s mapping contributions{% endblocktrans %}</h1>{% endblock %}

{% block body %}

<p>{% blocktrans %}{{ osm_user }}'s mapping activity.{% endblocktrans %} <a href="{% url 'mappers' %}">{% trans "View all mappers" %}</a>. <a href="//www.openstreetmap.org/user/{{ osm_user }}/">{% blocktrans %}View {{ osm_user }}'s OpenStreetMap profile.{% endblocktrans %}</a></p>

{% if counties|length > 0 %}
    <h2>{% trans "Counties" %}</h2>
    <p>{% blocktrans count num=counties|length %}{{ num }} mapped.{% plural %}{{ num }} mapped.{% endblocktrans %}</p>
    <p><ul>
        {% for c in counties %}
            <li>{{ c.long_desc }}</li>
        {% endfor %}
    </ul></p>
{% endif %}


{% if baronies|length > 0 %}
    <h2>{% trans "Baronies" %}</h2>
    <p>{% blocktrans count num=baronies|length %}{{ num }} mapped.{% plural %}{{ num }} mapped.{% endblocktrans %}</p>
    <p><ul>
        {% for b in baronies %}
            <li>{{ b.long_desc }}</li>
        {% endfor %}
    </ul></p>
{% endif %}

{% if civil_parishes|length > 0 %}
    <h2>{% trans "Civil Parishes" %}</h2>
    <p>{% blocktrans count num=civil_parishes|length %}{{ num }} mapped.{% plural %}{{ num }} mapped.{% endblocktrans %}</p>
    <p><ul>
        {% for c in civil_parishes %}
            <li>{{ c.long_desc }}</li>
        {% endfor %}
    </ul></p>
{% endif %}

{% if eds|length > 0 %}
    <h2>{% trans "Electoral Divisions" %}</h2>
    <p>{% blocktrans count num=eds|length %}{{ num }} mapped.{% plural %}{{ num }} mapped.{% endblocktrans %}</p>
    <p><ul>
        {% for ed in eds %}
            <li>{{ ed.long_desc }}</li>
        {% endfor %}
    </ul></p>
{% endif %}

{% if townlands|length > 0 %}
    <h2>{% trans "Townlands" %}</h2>
    <p>{% blocktrans count num=townlands|length %}{{ num }} mapped.{% plural %}{{ num }} mapped.{% endblocktrans %}</p>
    <p><ul>
        {% for t in townlands %}
            <li>{{ t.long_desc }}</li>
        {% endfor %}
    </ul></p>
{% endif %}

{% endblock body %}
