{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize cache %}

{% block title %}{% trans "Irish Traditional Boundaries Progress Report" %}{% endblock %}
{% block header %}<h1>{% trans "Irish Traditional Boundaries Progress Report" %}</h1>{% endblock %}

{% block extra_headers %}
    {{ block.super }}
    <style>
        #coverage tbody tr:nth-child(even) {
            background-color: #ebebeb;
        }
        #coverage tbody td {
            padding: 8px 11px;
        }
        #coverage thead tr {
            padding-bottom: 1em;
        }
        #coverage thead td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
{% cache 3600 progress %}

<ul>
    <li><a href="#countyprogress">{% trans "Progress of each county" %} ↓</a></li>
    <li><a href="{% url 'duplicatenames' %}">{% trans "Duplicate townland names" %} →</a></li>
    <li><a href="#errors">{% trans "Potential conflicts with the data" %} ↓</a></li>
    <li><a href="{% url 'rate' %}">{% trans "Rate of mapping" %} →</a></li>
    <li><a href="{% url 'activity' %}">{% trans "Mapping Activity" %} →</a></li>
    <li><a href="#logainm">{% trans "Logainm Status" %} ↓</a></li>
</ul>

<p>{% trans "How complete is the data in Open Street Map?" %}</p>
<p>{% trans "The data in OpenStreetMap is continuously updated. This page shows how much of each county has been mapped in townlands, baronies and civil parishes" %}</p>

<a name="countyprogress"></a>
<table class=table id=coverage>
    <thead>
        <td>{% trans "County" %}</td>
        <td colspan=2>{% trans "Townlands" %}</td>
        <td colspan=2>{% trans "Electoral Divisions" %}</td>
        <td colspan=2>{% trans "Civil Parishes" %}</td>
        <td colspan=2>{% trans "Baronies" %}</td>
    </thead>
    <tbody>
        <tr>
            <td>{% trans "All Ireland" %}</td>
            <td>{{ townland_progress|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ townland_progress }}></progress></td>
            <td>{{ ed_progress|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ ed_progress }}></progress></td>
            <td>{{ civil_parish_progress|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ civil_parish_progress }}></progress></td>
            <td>{{ barony_progress|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ barony_progress }}></progress></td>
        </tr>
    {% for groupname, groupdetails in groups %}
        <tr>
            <td>{{ groupname }}</td>
            <td>{{ groupdetails.townland_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ groupdetails.townland_cover }}></progress></td>
            <td>{{ groupdetails.ed_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ groupdetails.ed_cover }}></progress></td>
            <td>{{ groupdetails.civil_parish_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ groupdetails.civil_parish_cover }}></progress></td>
            <td>{{ groupdetails.barony_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ groupdetails.barony_cover }}></progress></td>
        </tr>
    {% endfor %}
    {% for county in counties %}
        <tr>
            <td><a href="{% url 'view_area' county.url_path %}">{{ county.name }}</a></td>
            {% with county_townland_cover=county.townland_cover county_ed_cover=county.ed_cover county_civil_parish_cover=county.civil_parish_cover county_barony_cover=county.barony_cover %}
                <td>{{ county_townland_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county_townland_cover }}></progress></td>
                <td>{{ county_ed_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county_ed_cover }}></progress></td>
                <td>{{ county_civil_parish_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county_civil_parish_cover }}></progress></td>
                <td>{{ county_barony_cover|floatformat:-1 }}%</td><td><progress min=0 max=100 value={{ county_barony_cover }}></progress></td>
            {% endwith %}
        </tr>
    {% endfor %}

    </tbody>
</table>
<p><a href="{% url 'rate' %}">{% trans "How long will it take to finish?" %}</a></p>

<a name="duplicatenames"></a>
<h2>{% trans "Duplicate Townland Name" %}</h2>
<p><a href="{% url 'duplicatenames' %}">{% trans "Duplicate townland names have moved to a separate page" %}</a></p>

<h2><a name=errors></a>{% trans "Potential conflicts with the data" %}</h2>

<ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% empty %}
        <li><i>{% trans 'No Errors, data is good! 😁' %}</i></li>
    {% endfor %}
</ul>

<h2><a name=logainm></a>{% trans "Logainm Status" %}</h2>
<p>{% trans 'What is the status of Logainm data match up? How many objects have a logainm ref?' %}</p>
<p><table class=table>
    <tr><td>{% trans 'All objects' %}</td><td>{% blocktrans with done=logainm.all_done|intcomma total=logainm.all_all %}{{ done }} of {{ total }}{% endblocktrans %}({{ logainm.all|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.all }}></progress></td></tr>
    <tr><td>{% trans 'Counties' %}</td><td>{{ logainm.counties_done|intcomma }} {% trans "of" %} {{ logainm.counties_all|intcomma }} ({{ logainm.counties|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.counties }}></progress></td></tr>
    <tr><td>{% trans 'Baronies' %}</td><td>{{ logainm.baronies_done|intcomma }} {% trans "of" %} {{ logainm.baronies_all|intcomma }} ({{ logainm.baronies|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.baronies }}></progress></td></tr>
    <tr><td>{% trans 'Civil Parishes' %}</td><td>{{ logainm.civil_parishes_done|intcomma }} {% trans "of" %} {{ logainm.civil_parishes_all|intcomma }} ({{ logainm.civil_parishes|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.civil_parishes }}></progress></td></tr>
    <tr><td>{% trans 'Electoral Divisions' %}</td><td>{{ logainm.eds_done|intcomma }} of {{ logainm.eds_all|intcomma }} ({{ logainm.eds|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.eds }}></progress></td></tr>
    <tr><td>{% trans 'Townlands' %}</td><td>{{ logainm.townlands_done|intcomma }} of {{ logainm.townlands_all|intcomma }} ({{ logainm.townlands|floatformat:"0" }}%)</td><td><progress min=0 max=100 value={{ logainm.townlands }}></progress></td></tr>
</table></p>

{% endcache %}
{% endblock %}
