{% extends 'irish_townlands/townland_base.html' %}
{% load l10n humanize cache %}

{% block title %}How long until we're done{% endblock %}
{% block header %}<h1>Rate of mapping</h1>{% endblock %}

{% block body %}

<p>Every day, the townlands from OpenStreetMap are processed and this website is updated. When this happens, we record how much of Ireland is covered by townlands, and from that predict how long it'll take to finish the whole lot</p>

<p>When you see "a hundred billion years", this means nothing was added in that time period. If nothing is being added, then you'll never finish!</p>

<a name="ireland"></a><h2>Ireland</h2>

<ul>
    <li>If we take the rate since {{ ireland.since_start.initial_date }} of {{ ireland.since_start.rate }}% per day, we'll be finished on {{ ireland.since_start.end_date }} (only {{ ireland.since_start.human_readable_time_left }} left)</li>
    <li>If we take the rate since yesterday ({{ ireland.since_yesterday.initial_date }}) of {{ ireland.since_yesterday.rate }}% per day, we'll be finished on {{ ireland.since_yesterday.end_date }} (only {{ ireland.since_yesterday.human_readable_time_left }} left!)</li>
    <li>If we take the rate since last week ({{ ireland.since_last_week.initial_date }}) of {{ ireland.since_last_week.rate }}% per day, we'll be finished on {{ ireland.since_last_week.end_date }} (only {{ ireland.since_last_week.human_readable_time_left }} left!)</li>
</ul>

{% for countyname, countyrates in counties %}
<a name="{{ countyname }}"></a><h2>{{ countyname }}</h2>

    <ul>
        <li>If we take the rate since {{ countyrates.since_start.initial_date }} of {{ countyrates.since_start.rate }}% per day, we'll be finished on {{ countyrates.since_start.end_date }} (only {{ countyrates.since_start.human_readable_time_left }} left)</li>
        <li>If we take the rate since yesterday ({{ countyrates.since_yesterday.initial_date }}) of {{ countyrates.since_yesterday.rate }}% per day, we'll be finished on {{ countyrates.since_yesterday.end_date }} (only {{ countyrates.since_yesterday.human_readable_time_left }} left!)</li>
    </ul>

{% endfor %}

{% endblock %}
