{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block title %}{% trans "How long until we're done" %}{% endblock %}
{% block header %}<h1>{% trans "Rate of mapping" %}</h1>{% endblock %}

{% block body %}

<p><a href="{% url 'view_area' %}">{% trans "Irish Townlands" %}</a> » <a href="{% url 'progress' %}"> {% trans "Progress" %}</a> » {% trans "Rate of mapping" %}</p>

<p>{% trans "Every day, the townlands from OpenStreetMap are processed and this website is updated. When this happens, we record how much of Ireland is covered by townlands, and from that predict how long it'll take to finish the whole lot. This calculation excludes water-y areas." %}</p>

<a name="ireland"></a><h2>{% trans "Ireland" %}</h2>

<ul>
    <li>If we take the rate since {{ ireland.since_start.initial_date }} of {{ ireland.since_start.rate }}% per day,
        {% if ireland.since_start.days_left == None %}
            we'll never finish.
        {% else %}
            we'll be finished on {{ ireland.since_start.end_date }} (only {{ ireland.since_start.human_readable_time_left }} left).
        {% endif %}
    </li>
    {% if ireland.since_90_days != None %}
        <li>If we take the rate since 90 days ago ({{ ireland.since_90_days.initial_date }}) of {{ ireland.since_90_days.rate }}% per day,
            {% if ireland.since_90_days.days_left == None %}
                we'll never finish
            {% else %}
                we'll be finished on {{ ireland.since_90_days.end_date }} (only {{ ireland.since_90_days.human_readable_time_left }} left).
            {% endif %}
            </li>
    {% endif %}
    {% if ireland.since_last_month != None %}
        <li>If we take the rate since last month ({{ ireland.since_last_month.initial_date }}) of {{ ireland.since_last_month.rate }}% per day,
            {% if ireland.since_last_month.days_left == None %}
                we'll never finish
            {% else %}
                we'll be finished on {{ ireland.since_last_month.end_date }} (only {{ ireland.since_last_month.human_readable_time_left }} left).
            {% endif %}
            </li>
    {% endif %}
    {% if ireland.since_last_week != None %}
        <li>If we take the rate since this day last week ({{ ireland.since_last_week.initial_date }}) of {{ ireland.since_last_week.rate }}% per day,
            {% if ireland.since_last_week.days_left == None %}
                we'll never finish
            {% else %}
                we'll be finished on {{ ireland.since_last_week.end_date }} (only {{ ireland.since_last_week.human_readable_time_left }} left).
            {% endif %}
            </li>
    {% endif %}
    {% if ireland.since_yesterday != None %}
        <li>If we take the rate since yesterday ({{ ireland.since_yesterday.initial_date }}) of {{ ireland.since_yesterday.rate }}% per day,
            {% if ireland.since_yesterday.days_left == None %}
                we'll never finish
            {% else %}
                we'll be finished on {{ ireland.since_yesterday.end_date }} (only {{ ireland.since_yesterday.human_readable_time_left }} left).
            {% endif %}
            </li>
    {% endif %}
</ul>

{% for countyname, countyrates in counties %}
    <a name="{{ countyname }}"></a><h2>{{ countyname }}</h2>

    {% if countyrates.amount_left == 0 %}
        <p><b>{% trans "Done!" %}</b> {% blocktrans %}All the townlands in {{ countyname }} are in OpenStreetMap!{% endblocktrans %}</p>
    {% else %}

        <p>There is {{ countyrates.amount_left|floatformat:2 }}% to be mapped.</p>
        <p>Based on...
            <ul>
                <li>the rate since {{ countyrates.since_start.initial_date }} ({{ countyrates.since_start.rate }}% per day),
                {% if countyrates.since_start.days_left == None %}
                    we'll never finish
                {% else %}
                    we'll be finished on {{ countyrates.since_start.end_date }} (only {{ countyrates.since_start.human_readable_time_left }} left)
                {% endif %}
                </li>
                {% if countyrates.since_90_days != None %}
                    <li>If we take the rate since 90 days ago ({{ countyrates.since_90_days.initial_date }}) of {{ countyrates.since_90_days.rate }}% per day,
                        {% if countyrates.since_90_days.days_left == None %}
                            we'll never finish
                        {% else %}
                            we'll be finished on {{ countyrates.since_90_days.end_date }} (only {{ countyrates.since_90_days.human_readable_time_left }} left).
                        {% endif %}
                        </li>
                {% endif %}
                {% if countyrates.since_last_month != None %}
                    <li>the rate since last month ({{ countyrates.since_last_month.initial_date }}) of {{ countyrates.since_last_month.rate }}% per day,
                        {% if countyrates.since_last_month.days_left == None %}
                            we'll never finish
                        {% else %}
                            we'll be finished on {{ countyrates.since_last_month.end_date }} (only {{ countyrates.since_last_month.human_readable_time_left }} left).
                        {% endif %}
                        </li>
                {% endif %}
                {% if countyrates.since_last_week != None %}
                    <li>the rate <abbr title="{{ countyrates.since_last_week.initial_date }}">in the last week</abbr> ({{ countyrates.since_last_week.rate }}% per day),
                    {% if countyrates.since_last_week.days_left == None %}
                        we'll never finish
                    {% else %}
                        we'll be finished on {{ countyrates.since_last_week.end_date }} (only {{ countyrates.since_last_week.human_readable_time_left }} left!)
                    {% endif %}
                    </li>
                {% endif %}
                {% if countyrates.since_yesterday != None %}
                    <li>the rate since <abbr title="{{ countyrates.since_yesterday.initial_date }}">yesterday</abbr> ({{ countyrates.since_yesterday.rate }}% per day),
                    {% if countyrates.since_yesterday.days_left == None %}
                        we'll never finish
                    {% else %}
                        we'll be finished on {{ countyrates.since_yesterday.end_date }} (only {{ countyrates.since_yesterday.human_readable_time_left }} left!)
                    {% endif %}
                    </li>
                {% endif %}
            </ul>
            <a href="{% url 'county_debug' url_path=countyname|lower %}#unmapped_townlands">{% blocktrans %}Unmapped area in {{ countyname }}{% endblocktrans %}</a>
        </p>

    {% endif %}

{% endfor %}

{% endblock %}
