{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block title %}
{{ subtownland_name }}
{% endblock %}
{% block header %}
<h1>
    {{ subtownland_name }}
</h1>{% endblock %}

{% block body %}


    {% if subtownland.county and subtownland.barony and subtownland.civil_parish and subtownland.ed %}
    <p>
        <a href="{% url 'view_area' subtownland.county.url_path %}">{% blocktrans with county_name=subtownland.county.name %}Co. {{ county_name }}{% endblocktrans %}</a>
        → <a href="{% url 'view_area' subtownland.barony.url_path %}">{{ subtownland.barony.name }}</a>
        → <a href="{% url 'view_area' subtownland.civil_parish.url_path %}">{% blocktrans with civil_parish_name=subtownland.civil_parish.name %}{{ civil_parish_name }} Civil Parish{% endblocktrans %}</a>
        → <a href="{% url 'view_area' subtownland.ed.url_path %}">{% blocktrans with ed_name=subtownland.ed.name %}{{ ed_name }} Electoral Division{% endblocktrans %}</a>
        → <a href="{% url 'view_area' subtownland.url_path %}">{{ subtownland_name }}</a>
    </p>
    {% endif %}

    <ul>
        <li><a href="#map">{% trans "Map" %} ↓</a></li>
        <li><a href="#osm">{% trans "OpenStreetMap" %}↓</a></li>
    </ul>

    <p>
    {% if subtownland.townland %}
        {% blocktrans with townland_link=subtownland.townland.short_desc %}{{ subtownland_name }} is in the townland of {{ townland_link }}.{% endblocktrans %}
        {% with townland=subtownland.townland townland_name=subtownland.townland.name %}
            {% if townland.civil_parish and townland.barony and townland.county and townland.ed %}
            {% blocktrans with civil_parish=townland.civil_parish.short_desc barony=townland.barony.short_desc county=townland.county.short_desc ed=townland.ed.short_desc %}{{ townland_name }} is in the Electoral Division of {{ ed }}, in Civil Parish of {{ civil_parish }}, in the Barony of {{ barony }}, in the County of {{ county }}{% endblocktrans %}
            {% else %}
                {% if townland.ed %}
                    {% blocktrans with ed=townland.ed.short_desc %}{{ townland_name }} is in the Electoral Division of {{ ed }}.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}We don't know what Electoral Division {{ townland_name }} is in.{% endblocktrans %}
                {% endif %}
                {% if townland.civil_parish %}
                    {% blocktrans with civil_parish=townland.civil_parish.short_desc %}{{ townland_name }} is in the Civil Parish of {{ civil_parish }}.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}We don't know what Civil Parish {{ townland_name }} is in.{% endblocktrans %}
                {% endif %}
                {% if townland.barony %}
                    {% blocktrans with barony=townland.barony.short_desc %}{{ townland_name }} is in the Barony of {{ barony }}.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}We don't know what Barony {{ townland_name }} is in.{% endblocktrans %}
                {% endif %}
                {% if townland.county %}
                    {% url 'view_area' townland.county.url_path as county_url %}
                    {% blocktrans with county=townland.county.name %}{{ townland_name }} is in <a href="{{ county_url }}">Co. {{ county }}</a>{% endblocktrans %}
                {% else %}
                    {% blocktrans %}We don't know what county {{ townland_name }} is in.{% endblocktrans %}
                {% endif %}
            {% endif %}
        {% endwith %}
    {% else %}
        {% blocktrans %}We don't know what townland {{ subtownland_name }} is in.{% endblocktrans %}
    {% endif %}
    </p>

    {% if subtownland.name_ga and subtownland.name != subtownland.name_ga %}
        <p>
            {% blocktrans with name=subtownland.name ga_name=subtownland.name_ga %}The Irish name for {{ name }} is {{ ga_name }}{% endblocktrans %}
            {% if subtownland.alt_name_ga %}
                {% blocktrans with name=subtownland.name alt_name_ga=subtownland.alt_name_ga %}{{ name }} is also known as {{ alt_name_ga }} in Irish.{% endblocktrans %}
            {% endif %}
        </p>
    {% endif %}
    {% if subtownland.name_en and subtownland.name != subtownland.name_en %}
        <p>{% blocktrans with name=subtownland.name en_name=subtownland.name_en %}The English name for {{ name }} is {{ en_name }}{% endblocktrans %}</p>
    {% endif %}
    {% if subtownland.alt_name %}
        <p>{% blocktrans with name=subtownland.name alt_name=subtownland.alt_name %}{{ name }} is also known as {{ alt_name }}{% endblocktrans %}</p>
    {% endif %}
    {% if subtownland.place = 'island' %}
        <p>{% blocktrans with name=subtownland.name  %}{{ name }} is an island.{% endblocktrans %}</p>
    {% endif %}

    <a name="map"></a>
    <h2>{% trans "Map" %}</h2>
    <p>
        {% blocktrans with gps_location=subtownland.centre_pretty %}It is located at {{ gps_location }}.{% endblocktrans %}
    </p>
    <div class="map" id="map" style="height: 600px; width: 800px;"></div>
    <script>
        var map = new L.Map('map');
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

        map.setView(new L.LatLng( {{ subtownland.location_y }}, {{ subtownland.location_x }}), 14 );
        map.addLayer(osm);
        var popup = new L.Popup();

        var marker = L.marker([ {{ subtownland.location_y }}, {{ subtownland.location_x }} ]).addTo(map);
        var popup = L.popup()
            .setLatLng([ {{ subtownland.location_y }}, {{ subtownland.location_x }} ])
            .setContent("{{ subtownland.name }}")
            .openOn(map);

    </script>
    
    <a name="other_subtownlands"></a>
    <h2>{% trans "Other Subtownlands" %}</h2>
    <p>
        {% if not subtownland.townland %}
            {% blocktrans %}We don't know of any other subtownlands nearby.{% endblocktrans %}
        {% else %}
            {% blocktrans with townland_link=subtownland.townland.short_desc %}{{ subtownland_name }} is in the townland of {{ townland_link }}, which has the following subtownlands:{% endblocktrans %}
            <ul>
                {% for subt in subtownland.townland.subtownlands.all %}
                    <li>{{ subt.short_desc }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    <a name="census"></a>
    <h2>{% trans "Census Search" %}</h2>
    <p>
        {% if subtownland.townland %}
            {% blocktrans with townland_link=subtownland.townland.short_desc %}{{ subtownland_name }} is in the townland of {{ townland_link }}.{% endblocktrans %}
            {% with townland=subtownland.townland townland_name=subtownland.townland.name %}
                {% blocktrans %}Interested in Geneological / ancestors who may have lived in {{ townland_name }}?{% endblocktrans %}
                <ul>
                    <li><a href="http://www.census.nationalarchives.ie/search/results.jsp?census_year=1911&surname=&firstname=&county={{ townland.county.name }}&townland={{ townland.name }}&ded=&age=&sex=&search=Search&relationToHead=&religion=&education=&occupation=&marriageStatus=&birthplace=&language=&deafdumb=&marriageYears=&childrenBorn=&childrenLiving=">{% blocktrans %}Search the 1911 Irish Census for {{ townland_name }}{% endblocktrans %}</a></li>
                    <li><a href="http://www.census.nationalarchives.ie/search/results.jsp?census_year=1901&surname=&firstname=&county={{ townland.county.name }}&townland={{ townland.name }}&ded=&age=&sex=&search=Search&relationToHead=&religion=&education=&occupation=&marriageStatus=&birthplace=&language=&deafdumb=&marriageYears=&childrenBorn=&childrenLiving=">{% blocktrans %}Search the 1901 Irish Census for {{ townland_name }}{% endblocktrans %}</a></li>
                </ul>
            {% endwith %}
        {% else %}
            {% blocktrans %}Since we don't know what townland {{ subtownland_name }} is in, we are unable to provide any geneological data for this place name. Please check back later, and it might have been added!{% endblocktrans %}
        {% endif %}
    </p>

    <a name="osm"></a>
    <h2>{% trans "OpenStreetMap" %}</h2>
    {% if subtownland.osm_timestamp %}{% url 'mapper_details' osm_user as mapperurl %}
        <p>{% with osm_timestamp=subtownland.osm_timestamp|date:"j M Y" osm_user=subtownland.osm_user %}{% blocktrans %}{{ subtownland_name }} was added to OpenStreetMap on {{ osm_timestamp }} by <a href="{{ mapperurl }}">{{ osm_user }}</a>.{% endblocktrans %}{% endwith %}</p>
    {% else %}
        <p>{% blocktrans %}We don't know when {{ subtownland_name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if subtownland.osm_id %}
        <p>
            <a href="{{ subtownland.osm_browse_url }}">{% trans "Show on OpenStreetMap.org" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ subtownland.edit_in_josm_url }}" target="_blank">{% trans "Edit in JOSM" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ subtownland.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ subtownland.edit_in_potlatch_url }}">{% trans "Edit in Potlatch" %}</a>
            <a class="btn btn-primary" target="_blank" href="{{ subtownland.edit_in_level0_url }}">{% trans "Edit in Level0" %}</a>
        </p>
    {% endif %}


{% endblock body %}
