{% extends 'base.html' %}
{% load i18n staticfiles translate_url %}

{% block extra_headers %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.ie.css" />
    <![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% block extra_headers_2 %}{% endblock %}
{% endblock %}

{% block header_div %}
    <div class="row vertical-align">
        <div class="brand col-md-2"><a href="/"><img class="img-responsive" src="{% static 'logo.png' %}"></a></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8"><h1>{% block header %}{% trans "Irish Townlands" %}{% endblock %}</h1></div>
                <div class="col-md-4">
                    {% get_available_languages as LANGUAGES %}
                    {% get_current_language as CURRENT_LANGAUGE %}
                    <ul class="list-unstyled">
                    {% for code, languagename in LANGUAGES %}
                        <li>
                            {% if code == CURRENT_LANGAUGE %}
                                {{ languagename }}
                            {% else %}
                                <a href="{% change_lang code %}">{{ languagename }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <p>
                <form role=form method=GET action="{% url 'search' %}" class="form">
                    <div class="input-group">
                        <label class=sr-only for=q>{% trans 'Search for a townland, subtownland, civil parish, barony or county' %}</label>
                        <input class="form-control input-lg" type=search name=q placeholder="{% trans 'Search for a townland, civil parish, barony, electoral division or county' %}" value="{{ search_term }}"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg" submit>{% trans 'Search' %} <span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </p>
        </div>
    </div>
{% endblock %}


{% block footer_extra %}
      <a href="{% url 'page' 'copyright' %}"><i class="glyphicon glyphicon-copyright-mark"></i> {% trans 'Copyright' %}</a>
    | <a href="{% url 'page' 'download' %}"><i class="glyphicon glyphicon-download"></i> {% trans 'Download Data' %}</a>
    | <a href="{% url 'page' 'data_freshness' %}">{% trans 'How up-to-date is Townlands.ie?' %}</a>
    | <a href="{% url 'mappers' %}">{% trans "Who's mapping townlands?" %}</a>
    | <a href="{% url 'activity' %}">{% trans "Townland mapping activity" %}</a>
    | <a href="{% url "townland_index_alphabetical" %}"><i class="glyphicon glyphicon-list"></i> {% trans "Townland Index" %}</a>
    | <a href="/static/logainm/">{% trans "Help add Logainm data to OSM" %}</a>
    | {% blocktrans with update_date=last_update.0 data_age=last_update.1 %}Last update: {{ update_date }}{% endblocktrans %}
{% endblock %}
