{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block extra_headers %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.3/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.3/leaflet.ie.css" />
    <![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.3/leaflet.js"></script>
{% endblock %}

{% block header_div %}
    <div class="row">
        <img class="col-md-2 center-block" src="{% static 'logo.png' %}">
        <div class="col-md-10">
            <h1>{% block header %}{% trans "Irish Townlands" %}{% endblock %}</h1>
            <h2>{% trans 'Search' %}</h2>
            <p>
                <form role=form method=GET action="{% url 'search' %}" class="form">
                    <div class="form-group">
                        <label class=sr-only for=q>{% trans 'Search for a townland, civil parish, barony or county' %}</label>
                        <input class="form-control input-lg" type=search name=q placeholder="{% trans 'Search for a townland, civil parish, barony or county' %}" value="{{ search_term }}"></input>
                    </div>
                    <button class="btn btn-primary" submit>{% trans 'Search' %}</button>
                </form>
            </p>
        </div>
    </div>
{% endblock %}


{% block footer_extra %}
    <a href="{% url 'page' 'copyright' %}">{% trans 'Copyright' %}</a> | <a href="{% url 'page' 'download' %}">{% trans 'Download Data' %}</a>
    |
    <a href="{% url 'page' 'data_freshness' %}">{% trans 'How up-to-date is Townlands.ie?' %}</a> {% blocktrans %}Last update: {{ last_update }}.{% endblocktrans %}
{% endblock %}
