{% extends 'irish_townlands/townland_base.html' %}
{% load i18n l10n humanize %}

{% block meta_description %}{{ townland_name }}{% if townland.name_ga %} ({{ townland.name_ga }}){% endif %} is a townland{% if townland.ed %} in {{ townland.ed }} ED,{% endif %}{% if townland.civil_parish %} in {{ townland.civil_parish }} Civil Parish,{% endif %}{% if townland.barony %} in {{ barony }} Barony,{% endif %} in Co. {{ townland.county }}, Ireland.{% endblock %}

{% block title %}
{% if townland.county %}{% blocktrans with county_name=townland.county.name %}{{ townland_name }} Townland, Co. {{ county_name }}{% endblocktrans %}{% else %}{% blocktrans %}{{ townland_name }} Townland{% endblocktrans %}{% endif %}
{% endblock %}


{% block header %}
<h1>
    {% if townland.county %}{% blocktrans with county_name=townland.county.name %}{{ townland_name }} Townland, Co. {{ county_name }}{% endblocktrans %}{% else %}{% blocktrans %}{{ townland_name }} Townland{% endblocktrans %}{% endif %}
</h1>{% endblock %}

{% block body %}

    {% if townland.county or townland.barony or townland.civil_parish or townland.ed %}
    <p>
        {% if townland.county %}
            <span id="bc_county" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bc_td">
                <a href="{% url 'view_area' townland.county.url_path %}" itemprop="url"><span itemprop="title">{% blocktrans with county_name=townland.county.name %}Co. {{ county_name }}{% endblocktrans %}</span></a> →
            </span>
        {% endif %}
        {% if townland.barony %}
            <span id="bc_bar" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="bc_td">
                <a href="{% url 'view_area' townland.barony.url_path %}" itemprop="url"><span itemprop="title">{{ townland.barony.name }}</span></a> →
            </span>
        {% endif %}
        {% if townland.civil_parish %}
            <span id="bc_cp" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="bc_td">
                <a href="{% url 'view_area' townland.civil_parish.url_path %}" itemprop="url"><span itemprop="title">{% blocktrans with civil_parish_name=townland.civil_parish.name %}{{ civil_parish_name }} Civil Parish{% endblocktrans %}</span></a> →
            </span>
        {% endif %}
        {% if townland.ed %}
            <span id="bc_ed" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="bc_td">
                <a href="{% url 'view_area' townland.ed.url_path %}" itemprop="url"><span itemprop="title">{% blocktrans with ed_name=townland.ed.name %}{{ ed_name }} Electoral Division{% endblocktrans %}</span></a> →
            </span>
        {% endif %}
        <span id="bc_td" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
            <a href="{% url 'view_area' townland.url_path %}" itemprop="url"><span itemprop="title">{{ townland_name }}</span></a>
        </span>
    </p>
    {% endif %}

    <ul>
        <li><a href="#map">{% trans "Map" %} ↓</a></li>
        <li><a href="#area">{% trans "Area" %} ↓</a></li>
        <li><a href="#borders">{% trans "Bordering Townlands" %} ↓</a></li>
        <li><a href="#records">{% trans "Records Search" %} ↓</a></li>
        <li><a href="#osm">{% trans "OpenStreetMap" %}↓</a></li>
    </ul>

    <p>
    {% if townland.civil_parish and townland.barony and townland.county and townland.ed %}
    {% blocktrans with civil_parish=townland.civil_parish.short_desc barony=townland.barony.short_desc county=townland.county.short_desc ed=townland.ed.short_desc %}{{ townland_name }} is in the Electoral Division of {{ ed }}, in Civil Parish of {{ civil_parish }}, in the Barony of {{ barony }}, in the County of {{ county }}{% endblocktrans %}
    {% else %}
        {% if townland.ed %}
            {% blocktrans with ed=townland.ed.short_desc %}{{ townland_name }} is in the Electoral Division of {{ ed }}.{% endblocktrans %}
        {% else %}
            {% blocktrans %}We don't know what Electoral Division {{ townland_name }} is in.{% endblocktrans %}
        {% endif %}
        {% if townland.civil_parish %}
            {% blocktrans with civil_parish=townland.civil_parish.short_desc %}{{ townland_name }} is in the Civil Parish of {{ civil_parish }}.{% endblocktrans %}
        {% else %}
            {% blocktrans %}We don't know what Civil Parish {{ townland_name }} is in.{% endblocktrans %}
        {% endif %}
        {% if townland.barony %}
            {% blocktrans with barony=townland.barony.short_desc %}{{ townland_name }} is in the Barony of {{ barony }}.{% endblocktrans %}
        {% else %}
            {% blocktrans %}We don't know what Barony {{ townland_name }} is in.{% endblocktrans %}
        {% endif %}
        {% if townland.county %}
            {% url 'view_area' townland.county.url_path as county_url %}
            {% blocktrans with county=townland.county.name %}{{ townland_name }} is in <a href="{{ county_url }}">Co. {{ county }}</a>{% endblocktrans %}
        {% else %}
            {% blocktrans %}We don't know what county {{ townland_name }} is in.{% endblocktrans %}
        {% endif %}
    {% endif %}
    </p>

    {% if townland.name_ga and townland.name != townland.name_ga %}
        <p>
            {% blocktrans with name=townland.name ga_name=townland.name_ga %}The Irish name for {{ name }} is {{ ga_name }}{% endblocktrans %}
            {% if townland.alt_name_ga %}
                {% blocktrans with name=townland.name alt_name_ga=townland.alt_name_ga %}{{ name }} is also known as {{ alt_name_ga }} in Irish.{% endblocktrans %}
            {% endif %}
        </p>
    {% endif %}
    {% if townland.name_en and townland.name != townland.name_en %}
        <p>{% blocktrans with name=townland.name en_name=townland.name_en %}The English name for {{ name }} is {{ en_name }}{% endblocktrans %}</p>
    {% endif %}
    {% if townland.alt_name %}
        <p>{% blocktrans with name=townland.name alt_name=townland.alt_name %}{{ name }} is also known as {{ alt_name }}{% endblocktrans %}</p>
    {% endif %}
    {% if townland.place = 'island' %}
        <p>{% blocktrans with name=townland.name  %}{{ name }} is an island.{% endblocktrans %}</p>
    {% endif %}

    <a name="map"></a>
    <h2>{% trans "Map" %}</h2>
    <p>
        {% blocktrans with gps_location=townland.centre_pretty %}It is located at {{ gps_location }}.{% endblocktrans %}
    </p>
    <div class="map" id="map" style="height: 600px; width: 800px;"></div>
    <script>
        var map = new L.Map('map');
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});		

        map.setView(new L.LatLng( {{ townland.centre_y }}, {{ townland.centre_x }}), 14 );
        map.addLayer(osm);
        var popup = new L.Popup();

        L.geoJson({
            'type':'Feature',
            'properties': { 'name': "{{ townland.name }}" },
            'geometry': {{ townland.polygon_geojson|safe }}
            }).addTo(map);
    </script>

    <a name="area"></a>
    <h2>{% trans "Area" %}</h2>
    <p>{% blocktrans with name=townland.name %}{{ name }} has an area of:{% endblocktrans %}
        <ul>
            <li>{% blocktrans with townland.area_m2|stringformat:"d"|intcomma as area %}{{ area }} m²{% endblocktrans %} / {% blocktrans with area=townland.area_hectares|floatformat:-2 %}{{ area }} hectares{% endblocktrans %} / {% blocktrans with area=townland.area_km2|floatformat:-4 %}{{ area }} km²{% endblocktrans %}</li>
            <li>{% blocktrans with area=townland.area_mile2|floatformat:-2 %}{{ area }} square miles{% endblocktrans %}</li>
            <li>{% blocktrans with area=townland.area_acres|floatformat:-2 %}{{ area }} acres{% endblocktrans %} / {{ townland.area_acres_roods_perches_textual }}</li>
        </ul>
    </p>

    <p>{% blocktrans with rank=townland.area_rank|ordinal %}Nationwide, it is the {{ rank }} largest townland that we know about{% endblocktrans %}</p>
    {% if townland.county %}
        <p>{% blocktrans with county=townland.county.name county_rank=townland.area_rank_county|ordinal %}Within Co. {{ county }}, it is the {{ county_rank }} largest townland{% endblocktrans %}</p>
    {% endif %}

    <a name="borders"></a>
    <h2>{% trans "Borders" %}</h2>
    {% if townland.touching_townlands %}
        <p>{% blocktrans %}{{ townland_name }} borders the following other townlands:{% endblocktrans %}
            <ul>
                {% for tt in townland.touching_townlands %}
                    {% if tt.direction_words = 'north' %}
                        <li><a href="{% url 'view_area' tt.townland_b.url_path %}">{% blocktrans with townland=tt.townland_b.name %}{{ townland }}</a> to the north{% endblocktrans %}</li>
                    {% elif tt.direction_words = 'south' %}
                        <li><a href="{% url 'view_area' tt.townland_b.url_path %}">{% blocktrans with townland=tt.townland_b.name %}{{ townland }}</a> to the south{% endblocktrans %}</li>
                    {% elif tt.direction_words = 'east' %}
                        <li><a href="{% url 'view_area' tt.townland_b.url_path %}">{% blocktrans with townland=tt.townland_b.name %}{{ townland }}</a> to the east{% endblocktrans %}</li>
                    {% elif tt.direction_words = 'west' %}
                        <li><a href="{% url 'view_area' tt.townland_b.url_path %}">{% blocktrans with townland=tt.townland_b.name %}{{ townland }}</a> to the west{% endblocktrans %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </p>
    {% else %}
        <p>{% blocktrans %}We don't have a record for what townlands (if any) {{ townland_name }} borders{% endblocktrans %}</p>
    {% endif %}

    <a name="subtownlands"></a>
    <h2>{% trans "Subtownlands" %}</h2>
    {% if townland.subtownlands.exists %}
        <p>
        <ul>
        {% for subt in townland.subtownlands.all %}
            <li>{{ subt.short_desc }}</li>
        {% endfor %}
        </ul>
        </p>
    {% else %}
        <p>{% blocktrans %}We don't know about any subtownlands in {{ townland_name }}.{% endblocktrans %}
    {% endif %}

    <a name="records"></a>
    <h2>{% trans "Geneology / Ancestry / Records Search" %}</h2>
    <p>
        {% blocktrans %}Curious to see who lived in {{ townland_name }} in the past? Maybe even seeing scans of their handwritten census returns?{% endblocktrans %}
        {% if townland.has_different_name_census1901 %}
            {% blocktrans with name_census1901=self.name_census1901 %}In the 1901 Census, {{ townland_name }} was recorded as {{ name_census1901 }}.{% endblocktrans %}
        {% endif %}
        {% if townland.has_different_name_census1911 %}
            {% blocktrans with name_census1911=self.name_census1911 %}In the 1911 Census, {{ townland_name }} was recorded as {{ name_census1911 }}.{% endblocktrans %}
        {% endif %}
        <ul>
            <li><a href="http://www.census.nationalarchives.ie/search/results.jsp?census_year=1911&county19011911={{ townland.county.name }}&townland={{ townland.name_census1911 }}&ded={{ townland.ed|default:"" }}&search=Search">{% blocktrans with name_census1911=self.name_census1911_display %}Search the 1911 Irish Census for {{ name_census1911 }}{% endblocktrans %}</a></li>
            <li><a href="http://www.census.nationalarchives.ie/search/results.jsp?census_year=1901&county19011911={{ townland.county.name }}&townland={{ townland.name_census1901 }}&ded={{ townland.ed|default:"" }}&search=Search">{% blocktrans with name_census1901=self.name_census1901_display %}Search the 1901 Irish Census for {{ name_census1901 }}{% endblocktrans %}</a></li>
            <li><a href="http://www.askaboutireland.ie/griffith-valuation/index.xml?action=doPlaceSearch&Submit.x=51&Submit.y=16&Submit=Submit&freetext={{ townland.name }}&countyname={{ townland.county.name }}&baronyname={{ townland.barony|default:"" }}&unionname=&parishname={{ townland.civil_parish|default:"" }}">{% blocktrans %}Search the Griffith's Valuation (1847-1864) for {{ townland_name }}{% endblocktrans %}</a></li>
        </ul>
    </p>

    <a name="osm"></a>
    <h2>{% trans "OpenStreetMap" %}</h2>
    {% if townland.osm_timestamp %}
        <p>{% with osm_timestamp=townland.osm_timestamp|date:"j M Y" osm_user=townland.osm_user %}{{ townland_name }} was added to OpenStreetMap on {{ osm_timestamp }} by <a href="{% url 'mapper_details' osm_user %}">{{ osm_user }}</a>. {% endwith %}{% blocktrans with order=townland.added_order %}It was the {{ order }}th townland added to OpenStreetMap{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}We don't know when {{ townland_name }} was added to OpenStreetMap.{% endblocktrans %}</p>
    {% endif %}
    {% if townland.osm_id %}
        <p>
            <a href="{{ townland.osm_browse_url }}">{% trans "Show on OpenStreetMap.org" %}</a>
            <a href="{{ townland.edit_in_josm_url }}" target="_blank">{% trans "Edit in JOSM" %}</a>
            <a href="{{ townland.edit_in_id_url }}">{% trans "Edit in iD" %}</a>
            <a href="{{ townland.edit_in_potlatch_url }}">{% trans "Edit in Potlatch" %}</a>
        </p>
    {% endif %}
    {% if townland.source %}{% blocktrans with source=townland.source %}The source for this townland is {{ source }}.{% endblocktrans %}{% endif %}
    {% if townland.attribution %}{% blocktrans with attribution=townland.attribution %}The attribution for this townland is {{ attribution }}.{% endblocktrans %}{% endif %}


{% endblock body %}
